.task__add--container .group__wrapper .ant-space-horizontal {
  display: block;
}

.task__add--container .ant-pro-form-list > div{
  width: 100% !important;
}

.task__add--container .ant-form > div:not(.ant-pro-form-light-filter) .pro-field-lg {
  width: 100%;
}
